HA_URL=http://homeassistant.local:8123
HA_TOKEN=your_home_assistant_long_lived_access_token
INPUT_NUMBER_ENTITY=input_number.alabama_power_daily_kwh

AL_POWER_USERNAME=your_alabama_power_username
AL_POWER_PASSWORD=your_alabama_power_password

HEADLESS=true
