[Unit]
Description=Check confirmed Caleb transfers for expiration

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
